{% extends 'base.html.twig' %}

{% block title %}CryptoApp - Accueil{% endblock %}

{% block body %}
    <header class="justify-content-between px-4">
        <h1>Crypto tracker</h1>
        <div class="btn-bloc">
            <a href="{{path('app_delete')}}" class="add-btn mx-2"><i class="fa-solid fa-pen"></i></a>
            <a href="{{path('app_add')}}" class="add-btn"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <main>
        <div class="amount">
            <span>{{amount > 0 ? "+ " : ""}} {{ amount|round(2,'ceil') }} €</span>
        </div>
        <div class="board">
            {% include 'view/elements/_flashes.html.twig' %}
            {%for crypto in cryptos%}

                <div class="transaction_row">
                    <div>
                        <img src="{{crypto.logoLink}}"/>
                        <span>{{crypto.symbol}}</span>
                        <small class="fs-6"    > ({{crypto.title}})</small>
                    </div>
                        {% if(crypto.totalValueNow > crypto.totalValueSpent) %}
                            <i class="fa-solid fa-arrow-trend-up"></i>
                        {% elseif (crypto.totalValueNow < crypto.totalValueSpent) %}
                            <i class="fa-solid fa-arrow-trend-down"></i>
                        {%endif%}
                </div>
            {% else %}
                <div class="transaction_row"  >
                    <span class="noCrypto">Pas de transaction</span>
                </div>
            {% endfor %}
        </div>
    </main>


{% endblock %}
